{{#if showPagination}}
  <ul>
    <li>
      {{ember-loadify/page-link page=1 currentPage=currentPage onClick=(action "goToPage")}}
    </li>
    {{#if showPreviousEllipses}}
      <li class="ember-loadify-ellipses">...</li>
    {{/if}}
    {{#each pageLinks as |page|}}
      <li>
        {{ember-loadify/page-link page=page currentPage=currentPage onClick=(action "goToPage")}}
      </li>
    {{/each}}
    {{#if showNextEllipses}}
      <li class="ember-loadify-ellipses">...</li>
    {{/if}}
    <li>
      {{ember-loadify/page-link page=totalPages currentPage=currentPage onClick=(action "goToPage")}}
    </li>
  </ul>
{{else}}
  <a href="#" {{action "nextPage"}} class="ember-loadify-next-page">{{text}}</a>
{{/if}}
